<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Items</title>
</head>
<body>

<div class="container">
  <table>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Size In Byte</th>
    </tr>
    <tr th:each="item : ${items}">
      <td th:text="${item.id}"></td>
      <td th:text="${item.name}"></td>
      <td th:text="${item.description}"></td>
      <td th:text="${item.sizeInByte}"></td>
    </tr>
    <table>

</div>

</body>
</html>
